<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bedeutung löschen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>Fehlende Implementierung (Übungsaufgabe)</p>

  &nbsp;

  <ion-item>
    <ion-label position="fixed">Abkürzung:</ion-label>
    <ion-input type="text" [(ngModel)]="abkuerzung"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Bedeutung:</ion-label>
    <ion-input type="text" [(ngModel)]="bedeutung"></ion-input>
  </ion-item>

  &nbsp;

  <ion-button expand="block" (click)="onBedeutungLoeschen()" >Bedeutung löschen</ion-button>

</ion-content>