<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste der Abkürzungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Anzahl gespeicherter Abkürzungen: {{ anzahlAbkuerzungenPromise | async }}</h2>

  &nbsp;

  <p>Listeneintrag zum Löschen nach links ziehen.</p>

  &nbsp;

  <ion-list>

    <ion-item-sliding *ngFor="let eintrag of abkBedeutungenArrayPromise | async" #slidingItem>
      <ion-item>
        <ion-label>
          <h2>{{ eintrag.abkuerzung }}:</h2>

          <h3 *ngFor="let bedeutung of eintrag.bedeutungen">{{ bedeutung }}</h3>

        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger"
                         (click)="onLoeschen(eintrag.abkuerzung, slidingItem)">Löschen</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
